.textStyle {
    font-size: 30px;
    margin-top: 50px;
    font-weight: 600;
}

/* .textContainer {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    width: 50%;
} */